body {
  width: 500px ;
  margin: 45 auto;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
 }
 .calculator {
   padding: 20px;
  }
  .calculator ,   .operators div:hover
  ,.number div:hover,div.equal:hover 
  {
   -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
   box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
   
  }
  
 .input:hover {
   border: 1px solid #bbb;
   box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
   
   
 }
 .operators div,.number div,div.equal {
   display: inline-block;
   border: 1px solid black;
   border-radius: 1px;
   width:80px;
   text-align: center;
   padding:10px;
   margin: 10px 4px 10px;
   cursor: pointer;
   background-color: #f9f9f9;
   transition: 
      border-color .2s ease-in-out,
      background-color .2s,
      box-shadow .2s;
  }
  .operators div:hover,.number div:hover,div.equal:hover{
    background-color: blue;
    
    border-color: blueviolet;
  }
  .leftPanel ,.numbers div{
    display: inline-block;
  }
   div.equal:active{
    font-weight: bold;
  }
